{% extends "blogs/base.html" %}
{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">Make your own blog post here to record anything
            from what you have learned, where you have traveled to, or 
            what you have cooked! This is a great place to save everythin in
            one place!
        </p>
        <a class="btn btn-sm btn-primary" href="{% url 'users:logout' %}"
            role="button">Log out &raquo;</a>
    </div>
{% endblock page_header %}

{% block content %}

    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                <h4 class="card-title">{{ post.title }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ post.date_added|date:'M d, Y' }}</h6>
            </div>
            <div class="card-body">
                {{ post.text|linebreaks }}
                <small><a href="{% url 'blogs:edit_post' post.id %}">
                    Edit</a></small>
            </div>
        </div>
    {% empty %}
        <li>No blogs posts here</li>
    {% endfor %}
    
    <a href="{% url 'blogs:new_post' %}">New Post</a>

{% endblock content %}
